* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 10px;
  background-color: #f6f7c3;
}
#svgUs {
  transition: height 0.5s ease;
}
#svgUs:hover {
  height: 300px;
}
.BRR {
  border: 2px solid #ff0000;
}
.BRB {
  border: 2px solid #001eff;
}
.BRG {
  border: 2px solid #3cff00;
}
.DF-r-w-c-c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
